* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
* {
  font-family: 'Kumbh Sans', sans-serif;
}
a {
  text-decoration: none;  
}
a:hover,
a:focus {
  text-decoration: underline;
}

/* LAYOUT CSS */
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

#layout {
  padding: 0;
}

.header {
  text-align: center;
  top: auto;
  margin: 1em 0em 0em auto;
}

.profile {
  text-align: center;
}

.profile-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.hljs {
  background:#00334e !important;
  line-height: 1.4em;
}
.sidebar {
  background:#00334e;  
  color: #fff;
}

.brand-title,
.brand-tagline {
  margin: 0;
}
.brand-title {
  color: #f6f5f5;

}
.brand-tagline {
  font-weight: 300;
  color: 	grey;
}
.nav-container {
  text-align: center;
  margin-bottom: 1em;
  display: flex;
  flex-flow: column;
}
.nav-social {  
  padding: 0;
  list-style: none;  
  display: flex;
  flex-flow: row;  
  justify-content: space-evenly;
  margin-bottom: 0;
}

.nav-social-item {
  font-size: 1.8em;
}

.social-item {  
  background: transparent; 
  color: rgb(254, 254, 255);
  zoom: 1; 
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-grid;
}
.nav-item {  
  min-width: 8em;
  zoom: 1;  
}

.nav-item a {
  background: transparent;
  border: 2px solid rgb(176, 202, 219);
  color: #ee6f57;
  margin-top: 1em;
  letter-spacing: 0.05em;  
  font-size: 85%;
  width: 100%;
}
.nav-item a:hover,
.nav-item a:focus {
  border: 2px solid rgb(61, 146, 201);
  text-decoration: none;
}

.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.content {
  padding: 2em 1em 0;
}

.post {
  padding-bottom: 1em;
}
.post-title {
  font-size: 1.4em;
  color: #222;
  margin-bottom: 0.2em;
}
.post-avatar {
  border-radius: 50px;
  float: right;
  margin-left: 1em;
}
.post-description {  
  color: #444;
  line-height: 1.8em;
}
.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

.post-category {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #00334e;  
  font-size: 80%;
  background: #eeeded; 
  border-radius: 2em/5em;
}  

.post-big-image {
  max-width: 500px;
}

.post-container-image {
  text-align: center;
}

.post-medium-image {
  max-width: 320px;  
}
.post-image-footer {
  margin-top: -0.4em;
  font-size: 0.7em;
  line-height: normal;
}

.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: #fff;
  text-shadow: 0 1px 1px #333;
}

.about-me {  
  color: #444;
  line-height: 1.8em;
  margin-top: 1em;
  margin-bottom: 3em;
}

.footer {
  padding: 1em 0;
}
.footer a {
  color: #ccc;
  font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
  background: none;
}

@media (max-width: 480px) { 
  .nav-list {
    display: inline-grid;
    zoom: 1;  
  }

  .about-me {
    margin-top: 0em;   
    margin-bottom: 0em;
  }

  .post-medium-image {
    max-width: 100%;
  }

  .post-big-image {
    max-width: 100%;
  }

  .post-description {  
    color: #444;
    line-height: 1.6em;
  }

  .header {
    margin: 10% 2em 0;
    text-align: center;
  }
  
  .profile-img {
    max-width: 30%;
    object-fit: contain;
  }

  .brand-title {
    font-size: 1.4em;
  }
  .brand-tagline {
    font-size: 1.2em;
  }

  .nav-social-item {
    font-size: 1.5em;
  }
    
}

@media (min-width: 480px) and (max-width: 768px) { 
  .nav-list {
    display: inline-flex;    
  }

  .brand-title {
    font-size: 1.5em;
  }
  .brand-tagline {
    font-size: 1.2em;
  }

  .about-me {
    margin-top: 0em;   
    margin-bottom: 0em;
  }
  .nav-social-item {
    font-size: 1.5em;
  }

  .header {
    margin: 10% 2em 0;
    text-align: center;
  }
  
}

@media (min-width: 769px) {
  .content {
      padding: 2em 3em 0;
      margin-left: 25%;
  }

  .header {
      margin: 20% 2em 0;
      text-align: center;
  }

  .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
  }

  .footer {
      text-align: center;
  }

  .post-title {
    font-size: 1.6em;
    color: #222;
    margin-bottom: 0.2em;
  }

}